target/
bin/
*.log
web/exposurelogs/
.classpath
.project
.settings/
.idea/
.clover/
rebel*.xml
.checkstyle
test-output/
*.iml
*.iws
*.ipr
.buildpath
.springBeans
application.txt
monitorstats.txt
uiTest/.bundle/
uiTest/vendor/
uiTest/results/
.DS_Store
web/src/main/webapp/static/scripts/lx.min.js
tomcat/
